Database Schema for College Scorecard and IPEDS data

Team Howard

Sophia Gan, Marion Haney, Elizabeth Ho

In [1]:
CREATE TYPE degree AS 
    ENUM('NA', 'Certificate', 'Associate', 'Bachelor', 'Graduate');
CREATE TYPE region_type AS 
    ENUM('US Service', 'New England', 'Mid East', 'Great Lakes', 
    'Plains', 'Southeast', 'Southwest', 'Rocky Mountains', 'Far West', 'Outlying Areas');
CREATE TYPE ownership AS 
    ENUM('Public', 'Private Non-Profit', 'Private For-Profit');

In [4]:
CREATE TABLE institutions (
    opeid VARCHAR(10) PRIMARY KEY,
    name TEXT, -- name of institution
    location TEXT,
    address TEXT,
    latitude FLOAT,
    longitude FLOAT,
    fips INT, -- FIPS code for county
    region region_type, -- US region
    ccbasic INT, -- 2021 Carnegie Classification Basic category
    cbsa FLOAT, -- core based statistical area
    csa FLOAT, -- combined statistical area
    accreditor TEXT, -- accrediting agency
    pred_degree degree, -- majority degree
    highest_degree degree, -- highest degree possible
    control ownership, -- ownership/control type
    admission_rate FLOAT CHECK (admission_rate <= 1 AND admission_rate >= 0),
    in_state_tuit INT,
    out_state_tuit INT,
    prog_year_tuit INT, -- program year tuition
    revenue_tuit INT, -- revenue per full-time equivalent student
    avg_faculty_salary INT,
    two_yr_default FLOAT, -- 2 year default rate on repayment
    three_yr_default FLOAT, -- 3 year default rate on repayment
    -- extra vars
    avg_faculty_salary INT, -- average faculty salary
    avg_sat FLOAT, -- average SAT score of students admitted
    pct_loan FLOAT, -- percentage of students receiving federal student loans
    -- created vars
    extracted_year TEXT, -- extracted year from data file
);