Database Schema for College Scorecard and IPEDS data

Team Howard

Sophia Gan, Marion Haney, Elizabeth Ho

In [4]:
CREATE TYPE degree AS 
    ENUM('NA', 'Certificate', 'Associate', 'Bachelor', 'Graduate');
CREATE TYPE region_type AS 
    ENUM('US Service', 'New England', 'Mid East', 'Great Lakes', 
    'Plains', 'Southeast', 'Southwest', 'Rocky Mountains', 'Far West', 'Outlying Areas');
CREATE TYPE ownership AS 
    ENUM('Public', 'Private Non-Profit', 'Private For-Profit');

In [5]:
CREATE TABLE institutions (
    pkey SERIAL PRIMARY KEY,
    opeid TEXT,
    name TEXT, -- name of institution
    address TEXT,
    latitude FLOAT,
    longitude FLOAT,
    fips INT, -- FIPS code for county
    region region_type, -- US region
    ccbasic INT, -- 2021 Carnegie Classification Basic category
    cbsa INT, -- core based statistical area
    csa INT, -- combined statistical area
    accreditor TEXT, -- accrediting agency
    pred_degree degree, -- majority degree
    highest_degree degree, -- highest degree possible
    control ownership, -- ownership/control type
    admission_rate FLOAT CHECK (admission_rate <= 1.0 AND admission_rate >= 0.0),
    in_state_tuit FLOAT CHECK (in_state_tuit >= 0.0),
    out_state_tuit FLOAT CHECK (out_state_tuit >= 0.0),
    prog_year_tuit FLOAT CHECK (prog_year_tuit >= 0.0), -- program year tuition
    revenue_tuit FLOAT, -- revenue per full-time equivalent student
    two_yr_default FLOAT CHECK (two_yr_default <= 1.0 AND two_yr_default >= 0.0), -- 2 year default rate on repayment
    three_yr_default FLOAT CHECK (three_yr_default <= 1.0 AND three_yr_default >= 0.0), -- 3 year default rate on repayment
    -- extra vars
    avg_faculty_salary FLOAT CHECK (avg_faculty_salary >= 0.0), -- average monthly faculty salary
    sat_avg FLOAT CHECK (sat_avg >= 0.0), -- average SAT score of students admitted
    prop_loan FLOAT CHECK (prop_loan <= 1.0 AND prop_loan >= 0.0), -- percentage of students receiving federal student loans
    -- created vars
    extracted_year DATE, -- extracted year from data file
    zip TEXT,
    city TEXT,
    state TEXT
);