# Load Data: College Scorecard
## Team Howard Pt. 2
Sophia Gan, Marion Haney, Elizabeth Ho

In [1]:
import pandas as pd

## Load in raw data

In [8]:
# IPEDS
#hd2019 = pd.read_csv("data/hd2019.csv")

# College Scorecard
raw_scorecard = pd.read_csv("data/MERGED2018_19_PP.csv")

/var/folders/cb/txf808151wn_d7q088dtr6hc0000gn/T/ipykernel_56217/1469060708.py:5: DtypeWarning: Columns (1729,1909,1910,1911,1912,1913,2376,2377,2958) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_scorecard = pd.read_csv("data/MERGED2018_19_PP.csv")

In [15]:
# Keep only the columns we want from College Scorecard data
scorecard = raw_scorecard.loc[:, ["UNITID", "ACCREDAGENCY", "PREDDEG", "HIGHDEG",
                                  "CONTROL", "REGION", "CCBASIC", "ADM_RATE", 
                                  "CCBASIC", "ADM_RATE", "TUITIONFEE_IN", "TUITIONFEE_OUT",
                                  "TUITIONFEE_PROG", "TUITFTE", "AVGFACSAL", "CDR2", "CDR3"]]

In [16]:
scorecard.head()

,UNITID,ACCREDAGENCY,PREDDEG,HIGHDEG,CONTROL,REGION,CCBASIC,ADM_RATE,CCBASIC,ADM_RATE,TUITIONFEE_IN,TUITIONFEE_OUT,TUITIONFEE_PROG,TUITFTE,AVGFACSAL,CDR2,CDR3
0,100654,NaN,3,4,1,5,NaN,0.8986,NaN,0.8986,9744.0,18354.0,NaN,7413.0,7101.0,NaN,0.182
1,100663,NaN,3,4,1,5,NaN,0.9211,NaN,0.9211,8568.0,19704.0,NaN,13177.0,10717.0,NaN,0.057
2,100690,NaN,3,4,2,5,NaN,NaN,NaN,NaN,6900.0,6900.0,NaN,14273.0,4292.0,NaN,0.110
3,100706,NaN,3,4,1,5,NaN,0.8087,NaN,0.8087,10714.0,22362.0,NaN,8677.0,9442.0,NaN,0.059
4,100724,NaN,3,4,1,5,NaN,0.9774,NaN,0.9774,11068.0,19396.0,NaN,10160.0,7754.0,NaN,0.203

## Clean and format raw data

In [ ]:
## code

## Add data to SQL table

In [ ]:
## code